<!DOCTYPE html>
<html>

<head>
  <title>Remote Jobs</title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>

  <header>
    <h1>Remote Jobs</h1>
    <h3>{{num_results}} {{searching_by}} jobs found.</h3>
    {% if jobs %}
    <h4><a href="/static/{{searching_by}}.csv" download>Export to CSV</a></h4>
    {% else %}
    {% endif %}
    <a href="/"> &larr; Go back </a>
  </header>

  <main>
    <ul style="list-style:none;">
      {% if jobs %}
      {% for job in jobs %} 
      <li>
        <h3>{{job.title}}</h3>
        <h4>{{job.company}}</h4>
        <a href="{{job.url}}">Apply</a>
        <hr>
      </li>
      {% endfor %}
      {% else %}
        <h3>Search results do not exist...</h3>
      {% endif %}
    </ul>
  </main>

</body>

</html>